.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

// .search-button {
//   width: 70;
//    height: 30;
//    background: '#3f51b5';
//    color: '#fff';
//    border-radius: 3;
//    font-size: 14;
// }